/* RESET 
 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }

/* GENERAL 
*/
.my-row{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER  
*/
    header{
        background-color: aquamarine;
        height: 55px;
    }
    .header-row{
        height: 55px;
        align-items: center;
    }
    nav{
        display: inline-block;
    }

    .header-column{
        display: flex;
        background-color: #DAA520;
        line-height: 30px;
    }
    .small1{
        width: 25%;
    }
    .small2{
        width: 25%;
        justify-content: end;
    }
    .wide1{
        width: 50%;
        justify-content: center;
    }

/* FIRST SECTION 
*/
    .sec1{
        justify-content: center;
        align-items: center;
        height: 300px;
    }


/* DEBUG
*/
.debug{
    border: 2px dashed black;
}

.first-section{
    height: 300px;
    background-color: blue;
}
.section1{
    background-color: #EE82EE;
    height: 200px;
    width: 900px;
}
